body {
  background-color: lightblue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  grid-column: 1/4;
  text-align: center;
  border: 1px solid black;
  font-family : "Open Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#banner {
  align-items: center;
    size: 200px;
}

.item2 {
  grid-column: 1 / 5;
  padding: 0 ;
}

/* category and banner pic */
.grid-item {
  border: 1px solid black;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

label,
#locations {
   /* position: static;  */
   font-size: 30px;
   /* background-color: yellow; */
   min-width: 160px;
   padding-top: 20px;
   padding-bottom: 20px;
}

select,
#locations {
   /* position: static;  */
   font-size: 30px;
   /* background-color: yellow; */
   min-width: 160px;
   padding-top: 20px;
   padding-bottom: 20px;
  }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 50px;
  grid-column: 1/2;
  border: 5px solid purple;
}

#catpic1 {
  height: 300px;
  width: 300px;
  align-items: center;
  border: 5px solid black;
} 

.cat1 {
  font-size: 40px;
  padding: 10px;
  text-align: center;
}

#catpic2 {
  height: 300px;
  width: 300px;
} 

.cat2 {
  font-size: 40px;
  padding: 10px;
}

#catpic3 {
  height: 300px;
  width: 300px;
} 

.cat3 {
  font-size: 40px;
  padding: 10px;
}

#catpic4 {
  height: 300px;
  width: 300px;
} 

.cat4 {
  font-size: 40px;
  padding: 10px;
}
#catpic5 {
  height: 300px;
  width: 300px;
} 

.cat5 {
  font-size: 40px;
  padding: 10px;
}

#catpic6 {
  height: 300px;
  width: 300px;
} 

.cat6 {
  font-size: 40px;
  padding: 10px;
}







  /* display: grid;
  grid-template-columns: repeat(3,2fr);
  grid-template-rows: 1fr 1fr;
  background-color: pink;
  padding: 10px;

  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px; 
 } 

 div .grid-item {
  background-color: red;
  border: 1px solid red;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */



/* #dropdown {
  background-color: #5555;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 3px red;
  position: relative;
    width: 100%;
    display: inline-block;
    grid-column: 2/3;
} */
