.grid-container {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: black;
  text-align: center;
  /* padding: 30px; */
  height: 40px;
  width: 40px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: yellow;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

img {
  align-items: center;
}

#myinput {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    /* shows hand with pointed finger on hover */
    cursor: pointer;
    grid-column: 2/3;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
    /* If you want the width of the dropdown content to be 
    as wide as the dropdown button, set the width to 100%
    (overflow:auto to enable scroll on small screens). */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* Instead of using a border, we have used the box-shadow 
    property to make the dropdown menu look like a "card". */
    z-index: 1;
    /* Used z-index to place the dropdown in front of other elements. */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: white;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: black;}